.rowContent {
    height: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.label {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}

.inputError {
    width: 400px;
    height: 35px;
    border-radius: 8px;
    font-size: 20px;
    padding-left: 10px;
    border: 3px solid red;
}

.input {
    width: 400px;
    height: 35px;
    border-radius: 8px;
    font-size: 20px;
    padding-left: 10px;
    border: 3px solid black;
}

.errorMessage {
    color: red;
}
